html, body { margin: 0; }
h1 { text-align: center; }
canvas { width: 100%; height: 100%; }

.frame {
  	width: 80%;
	margin-left: 10%;
	background-color: #ddc;
	border: solid 5vmin #eee;
	border-bottom-color: #fff;
	border-left-color: #eee;
	border-radius: 2px;
	border-right-color: #eee;
	border-top-color: #ddd;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
	box-sizing: border-box;
	display: inline-block;
	height: 80vh;
	position: relative;
	text-align: center;
}
